/**
 * TYPOGRAPHY
 * @author office@manuelwieser.com
 */

html {
  font-size: 75%;
}
body {
  font-family: "Open Sans", sans-serif;
  color: $baseColor;
  background: $baseBackgroundColor;
  @include rem(margin, $baseLineHeight);
  @include rem(font-size, $baseFontSize);
  @include rem(line-height, $baseLineHeight);
}

h1, h2, h3 {
  font-weight: 300;
  @include rem(margin-top, $baseLineHeight * 2);
  @include rem(margin-bottom, $baseLineHeight);
}
h1 {
  @include rem(font-size, $baseFontSize * pow($modularScale, 3));
  @include rem(line-height, $baseLineHeight * 2);
}
h2 {
  @include rem(font-size, $baseFontSize * pow($modularScale, 2));
  @include rem(line-height, $baseLineHeight * 1.5);
}
h3 {
  @include rem(font-size, $baseFontSize * $modularScale);
  @include rem(line-height, $baseLineHeight);
}

p, ul, ol, pre, blockquote {
  @include rem(margin-top, $baseLineHeight);
  @include rem(margin-bottom, $baseLineHeight);
}
small, aside {
  @include rem(font-size, $baseLineHeight * 0.5);
}
p + p {
  @include rem(margin-top, -$baseLineHeight);
  @include rem(text-indent, $baseFontSize);
}

a:link,
a:visited {
  color: $highlightColor;
  text-decoration: none;
}
a:hover,
a:active { color: desaturate($highlightColor, 100%); }

strong { font-weight: bold; }
em { font-style: italic; }
pre, code { font-family: Consolas, Monaco, monospace; }

ul { list-style: disc outside; }
ol { list-style: decimal outside; }
ul, ol { @include rem(padding-left, $baseLineHeight); }

/**
 * Quotation
 */
blockquote {
  @include rem(padding-left, $baseLineHeight);
  @include rem(padding-right, $baseLineHeight);
  [lang="de"] &,
  &[lang="de"] {
    p:first-of-type:before { content: $character-ldquo-de; }
    p:last-of-type:after { content: $character-rdquo-de; }
  }
  [lang="en"] &,
  &[lang="en"] {
    p:first-of-type:before { content: $character-ldquo-en; }
    p:last-of-type:after { content: $character-rdquo-en; }
  }
  footer {
    text-align: right;
    @include rem(margin-top, -$baseLineHeight);
  }
}
